@charset "ISO-8859-1";

.h1{
	margin-left:40%;
	margin-top:4%;
	margin-bottom: 30px;
}

.login
{
	width:30px;
	height: 10px;
	border-radius:30px;
	position:relative;
	left:50%;
	transform:translateX(-50%);
	margin-top: 10%;
}

.btn-1{
	
	background: black;
    padding:15px ;
    color: white;
    font-size:20px;
    border-radius: 17px;
}
.btn-1:hover{
	 background: gray;
	 color:black;
	 
}

hr
{
	margin-top: 20px;
}
